.link:hover {
    text-decoration: none;
}
.list {
    display: inline-block;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}