.user-id {
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    margin: 30px auto 40px;
    width: 900px;
    background-color: #ffffff;
}
.user-id2 {
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    margin: 20px auto 10px;
    width: 900px;
    background-color: #ffffff;
}
.po-border {
    margin: 0 auto;
    width: 1140px;
}

.header {
    cursor: pointer;
    border-radius: 6px 6px 0 0;
    background-color: #e0e0e0;
    padding: 15px;
}
.p {
    padding: 15px;
}
.step {
    margin-top: 20px;
}
.us {
    border: 1px solid red;
}
