.foot-ar {
    display: flex;
    align-items: center;
    border: 1px solid #d6d6d6;
    background-color: #efefef;
    height: 50px;
    border-radius: 6px;
    width: 1140px;
    margin: 30px auto 60px;
}
.center {
    width: 400px;
    margin: 0 auto;
}
.center p {
    text-align: center;
    margin-top: 10px;
}